@mixin breakpoint($point) {
  
	@if $point == desktop {
		@media (min-width: 1440px) { @content ; }
	}
	
	@else if $point == laptop-down {
		@media (max-width: 1024px) { @content ; }
	}
	
	@else if $point == laptop {
		@media (min-width: 1024px) { @content ; }
	}
	
	@else if $point == tablet-down {
		@media (max-width: 768px) { @content ; }
	}
	
	@else if $point == tablet {
		@media (min-width: 768px) { @content ; }
	}

	@else if $point == phablet {
		@media (min-width: 480px)  { @content ; }
	}
	
	@else if $point == mobileonly {
		@media (max-width: 480px)  { @content ; }

	}
  
}