// EDITOR TWEAKS
.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings {
	z-index:10 !important;
}


.elementor-section-wrap section:first-child .elementor-editor-section-settings {
	transform: scaleY(-1) translateX(-50%);
}
.elementor-section-wrap section:first-child .elementor-editor-column-settings {
	transform: translateY(100%);
}