@import "breakpoint";
@import "mixins";
@import "partials";
@import "flex-grid";
@import "swiper/swiper";


.micemade-elements {
	
	/**
	 *	SINGLE PRODUCT ELEMENT
	 */
	
	&_single-product {
		
		div.product {
			
			margin: 0;
			display: flex;
			align-items: center;

			// Main elements genreal styles
			.product-thumb {
				z-index: 0;
				background:{
					size:cover;
					repeat: no-repeat;
					attachment: scroll;
					position: center;
				} 
			}
			
			.entry-summary {
				z-index: 0;
				position: relative;
				padding: 3em;
				
				form.cart {
					float: none;
					> * {
						float: none !important;
						display: inline-block;
						vertical-align: top;
						margin-top: 20px !important;
						
					}
					table.variations { 
						display: table;
						table-layout: auto;
						
						@include breakpoint(tablet-down) {
							td.label {
								padding: 10px;
							}
							label, select {
								font-size: 12px;
							}						
						}
						
					}
					.single_variation_wrap .single_variation {
						margin-top: 0;
					}
					
					input, button {
						font-size: 12px;
					}
					
				}
				
				.yith-wcwl-add-to-wishlist > * {
					&.show { display: inline-block !important; };
					float: none !important;
				}
				
				.woocommerce-product-rating { position: absolute; top: 20px; }
			}
			
			.thumb-summary-link {
				z-index: 0;
				content: "";
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 20px;
				text-align: center;
				background: #fff;
				color: #ccc;
				margin: 0 !important;
				box-shadow: 0 0 20px rgba(0,0,0,0.12);
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
			
			// Variants: 
			&.images_left {
				flex-direction: row;
				.thumb-summary-link {
					top: 50%;
					left: 0;
					transform: translateX(-50%) translateY(-50%);
				}
			}

			&.images_right {
				flex-direction: row-reverse;
				.thumb-summary-link {
					top: 50%;
					left: 100%;
					transform: translateX(-50%) translateY(-50%) rotate(180deg);
				}
			}

			&.images_left, &.images_right {
				//flex-basis: 50%;
				.product-thumb, .entry-summary {
					width: 50%;
				}
				
				@include breakpoint(tablet-down) {
					flex-direction: column;
					.product-thumb, .entry-summary {
						width: 100%;
					}
					.product-thumb {
						height: 400px;
					}
				}
			}
			
			&.vertical {
				flex-direction: column;
			
				.thumb-summary-link {
					top: 0;
					left: 50%;
					transform: translateX(-50%) translateY(-50%) rotate(90deg);
				}
				
			}
			
			&.vertical_reversed {
				flex-direction: column-reverse;
				.thumb-summary-link {
					top: 100%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%) rotate(-90deg);
				}
			}
			&.vertical, &.vertical_reversed {
				.product-thumb {
					height: 450px;
				}
			}

		
		}
		
		@extend %clear;
		
	} // single product element
	
	/**
	 *	POSTS GRID & PRODUCTS SLIDER ELEMENTS
	 *	.micemade-elements_posts-grid  
	 *	.micemade-elements_products_slider  
	 */
	
	&_posts-grid, &_products_slider {
		
		.post {
			
			margin-bottom: 1rem;
			
			&.swiper-slide { margin-bottom: 0; }
			
			.inner-wrap {
				flex-grow: 1;
				flex-basis: 100%;
				max-width: 100%;				
			}
			
			.inner-wrap, .post-overlay {
				transition: background-color 0.3s linear;
			}
			
			.post-thumb {
			
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
				
			}
			
			.post-text {
				
				padding: 20px;
				
				h4 {
					font-size: 22px;
					margin: 0 0 10px;
					padding: 0.5em 0;
					transition: all 0.2s linear;
				}
				
				a { transition: all 0.2s linear; }
				
				.meta {
					font-size: 11px;
					padding: 0 0 10px;
					
					> span {
						padding: 0 5px;
						border-left: 1px solid rgba(#999, 0.3);
						
						&:first-child, &:nth-of-type(3) {
							padding-left: 0;
							border: none;
						}
					}
				
				}
				
				p {
					font-size: 14px;
					margin: 1em 0;
				}
				
				.price {
					font-size: 22px;
					padding: 0.5em 0;
					display: inline-block;
					font-style: normal;
				}

				
			} //.post-text
			
			
		
		} // .post
		
		// STYLE 2
		&.style_2 {
		
			.inner-wrap {
				display: flex;
					
				> div {
					flex-grow: 1;
					flex-basis: 50%;
					align-self: center;
					
					
				}
				
				@include breakpoint(mobileonly) {
				
					flex-direction: column;
					
					> div {
						width: 100%;
						flex-basis: 50%;
					}
					
				}
				
			}
		
		} // end STYLE 2
		
		&.style_3, &.style_4 {
			
			.inner-wrap {
				position: relative;
				background-color: transparent !important;
				
				
				.post-thumb-back, .post-overlay {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					position: absolute;
				}
				.post-thumb-back {
					z-index:0;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
				.post-overlay {
					z-index:1;
					background: rgba( #fff, 0.85);
				}
				.post-text {
					position: relative;
					z-index: 2;
					display: flex;
					flex-direction: column;
					//align-items: center;
					justify-content: center;
					
					> * {
						display: inline-block;
					}
				}
				
				
			} // .inner-wrap
		
		} // style_3
		
		&.style_4 {
			
			.inner-wrap {
				position: relative;
				background-color: transparent !important;
				
				.post-thumb-back {
					right: 40%;
				}
				
				.post-overlay {
					top: 10%;
					bottom: 10%;
					left: 40%;
					right: 10%;
					box-shadow: 0 0 50px rgba(0,0,0,0.2);
				}
				.post-text {
					margin:{
						left:40%;
						right: 10%;
						top: 10%;
						bottom: 10%;
					} 
					
				}
				
			} // .inner-wrap
		}
		
		
		.swiper-button-next {
			.elementor & { 
				right: 20px;
				transform: none;
			}
		}
		
		.swiper-button-prev {
			.elementor & {
				left: 20px;
				transform: none;
			}
		}
		
		.swiper-button-next:before, .swiper-button-prev:before {
			.elementor & {
				opacity: 0;
				transition: opacity 0.3s linear;
				.micemade-elements-is-mobile & {
					opacity: 1;
				}
			}
		}
		
		&:hover {
			.swiper-button-next:before, .swiper-button-prev:before {
				.elementor & {
					opacity: 1;
				}
			}
		}
		
	
	} // posts grid element
	
	
	/**
	 *	WC PRODUCT CATEGORIES ELEMENT
	 *	.micemade-elements_posts-grid  
	 *	.micemade-elements_products_slider  
	 */
	
	&_product-categories {
	
		.category {
			
			position: relative;
			text-align: center;
			
			
			&__inner-wrap {
				position: relative;
				overflow: hidden;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				justify-content: center;
				flex-grow: 1;
				flex-basis: 100%;
				max-width: 100%;
			}
			
			&__image, &__overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			
			&__image, &__text-wrap {
				flex-grow: 1;
				flex-basis: 100%;
				max-width: 100%;
			}
			
			&__image {
				z-index: 0;
				overflow: hidden;
				.image-inner {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					filter: blur(0px);
					transition: filter 0.3s linear;
				}
				
			}
			&__overlay {
				z-index: 1;
				background-color: rgba( #fff, 0.8 );
				transition: background-color 0.3s linear;
			}
			
			&__text-wrap {
				position:relative;
				z-index: 2;
				padding: 20px;
				align-self: center;
			}
			
			&__title {
				font-size: 24px;
				color: inherit;
				display: block;
			}
			&__product-count {
				display: block;
				font-size:12px;
			}
			
			&:hover {
				.image-inner {
					filter: blur(10px);
				}
			}
			
		
		}
		&.style_1 {
		}
		
		&.style_2 {
			
			.category {
				
				&__overlay {
					z-index: 0;
				}

				&__image {
					z-index: 1;
					height: 100%;
					position: relative;
					//@include aspect-ratio( 1, 1 );
				}
				&__text-wrap {
					position:relative;
					z-index: 2;
					padding: 20px;
				}
				
			} // .category
			
		}
		
		&.style_3 {
			
			.category {
				
				&__inner-wrap {
					flex-direction: column;
				}
				
				&__overlay {
					z-index: 0;
				}
				
				&__image {
					z-index:1;
					position: relative;
					flex-grow: 1;
				}
				&__text-wrap {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					flex-grow: 0;
					flex-basis: initial;
				}
			}
		
		}
	
	} // product-categories
	
	
	//.micemade-elements_button 
	&_more-posts-wrap {
		display: block;
	}
	&_more-posts {
		display: inline-block;
		
		&.disabled {
			opacity: .25;
			cursor: not-allowed;
		}
		
		&.post_loading_loader {
			opacity: .6;
			cursor: not-allowed;
		}
	}
	
}

.micemade-elements-is-mobile {
	.elementor-section {
		
		background:{
			attachment: scroll;
			position: center center;
			size: 100%;
		}
		-webkit-background:{
			attachment: scroll;
			position: center center;
			size: 100%;
		}
	}
}


// Editor fix
.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings {
	z-index:10 !important;
}