@import "breakpoint";
@import "mixins";
@import "partials";
@import "flex-grid";
@import "swiper/swiper";
@import "elementor-editor";

.micemade-elements {
	
	/**
	 *	WC CATALOG PRODUCTS
	 */
	 &_wc-catalog {
		
		ul.products {
			opacity: 1;
			
			// Micemade themes only
			.item {
				margin-bottom: 0;
				.anim-wrap {
					opacity: 1;
				}
			}
			// end mm themes
		}
	 
	 }
	 
	/**
	 *	SINGLE PRODUCT ELEMENT
	 */
	
	&_single-product {
		
		div.single-product-container {
			
			margin: 0;
			display: flex;
			align-items: stretch;

			// Main elements general styles
			.product-thumb {
				z-index: 0;
				background:{
					size:cover;
					repeat: no-repeat;
					attachment: scroll;
					position: center;
				}
			}
			
			.entry-summary {
				z-index: 0;
				position: relative;
				padding: 3em;
				align-self: center;
				
				> * {
					display: block;
				}
				
				form.cart {
					float: none;
					margin-bottom: 0;
					> * {
						float: none !important;
						display: inline-block;
						vertical-align: top;
						margin-bottom: 20px;
						
					}
					table.variations { 
						display: table;
						table-layout: auto;
						
						@include breakpoint(tablet-down) {
							td.label {
								padding: 10px;
							}
							label, select {
								font-size: 12px;
							}
						}
						
					}
					.single_variation_wrap .single_variation {
						margin-top: 0;
					}
					
					input, button {
						font-size: 12px;
					}
					
				}
				
				.price {
					font-style: normal;
					font-size: 1em;
					font-weight: normal;
				}
				
				.yith-wcwl-add-to-wishlist > * {
					&.show { display: inline-block !important; };
					float: none !important;
				}
				
				.woocommerce-product-ng { 
					position: relative;
					.star-rang {
						margin: 0;
					}
					.woocommerce-review-link {
						font-size: 11px;
					}
				}
			}
			
			
			// Variants: 
			&.images_left {
				flex-direction: row;
			}

			&.images_right {
				flex-direction: row-reverse;
			}

			&.images_left, &.images_right {
				//flex-basis: 50%;
				.product-thumb, .entry-summary {
					width: 50%;
				}
				
				@include breakpoint(tablet-down) {
					flex-direction: column;
					.product-thumb, .entry-summary {
						width: 100%;
					}
					.product-thumb {
						height: 400px;
					}
				}
			}
			
			&.vertical {
				flex-direction: column;
			}
			
			&.vertical_reversed {
				flex-direction: column-reverse;
			}
			&.vertical, &.vertical_reversed {
				.product-thumb {
					height: 450px;
				}
			}

			&.image_background {
				
				flex-direction: column;
				height: 450px;
				
				.entry-summary {
					position: absolute;
					z-index: 1;
				}
				.product-thumb {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
					display: block;
				}
			}
		
		}
		
		@extend %clear;
		
	} // single product element
	
	/**
	 *	POSTS GRID & PRODUCTS SLIDER ELEMENTS
	 *	.micemade-elements_posts-grid
	 *	.micemade-elements_products_slider
	 */
	
	&_posts-grid, &_products_slider {
		
		.post {
			
			margin-bottom: 1rem;
			
			&.swiper-slide { margin-bottom: 0; }
			
			.inner-wrap {
				flex-grow: 1;
				flex-basis: 100%;
				max-width: 100%;
			}
			
			.inner-wrap, .post-overlay {
				@include transition-global( background-color );
			}
			
			.post-thumb {
			
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
				
			}
			
			.post-text {
				
				padding: 20px;
				
				> * { display: block; }
				
				* { @include transition-global( all ); }
				
				h4 {
					font-size: 22px;
					margin: 0;
					margin-bottom: 0 !important;
					padding: 0 0 15px;
				}
				
				.meta {
					font-size: 11px;
					padding: 0 0 15px;
					line-height: 1.6;
					
					> span {
						padding: 0 5px;
						border: none;
						border-left: 1px solid rgba(#999, 0.3);
						margin: 0;
						
						&:first-child, &:nth-of-type(3) {
							padding-left: 0;
							border: none;
						}
						
						a {
							font-size: inherit;
							font-weight: inherit;
						}
					}
				
				}
				
				p {
					font-size: 14px;
					margin: 0;
					padding: 0 0 15px;
				}
				
				.price-wrap, .add-to-cart-wrap {
					padding: 0 0 15px;
					display: block;
				}
				span.price {
					font-size: 22px;
					font-style: normal;
				}

			} //.post-text
			
			
		} // .post
		
		// STYLE 2
		&.style_2 {
		
			.inner-wrap {
				display: flex;
				flex-direction: row;
				align-items: center;
				> div {
					width: 50%;
					flex-grow: 1;
				}
				// Fix img bottom space (TODO)
				.post-thumb img {
					margin-bottom: -10px;
				}
				
				@include breakpoint(tablet-down) {
				
					flex-direction: column;

					> div {
						width: 100% !important;
					}
					
				}
				
			}
		
		} // end STYLE 2
		
		&.style_3, &.style_4 {
			
			.inner-wrap {
				position: relative;
				background-color: transparent !important;
				height: 400px;
				
				.post-thumb-back, .post-overlay {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					position: absolute;
				}
				.post-thumb-back {
					z-index:0;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					width: 100%;
					height: 100%;
				}
				.post-overlay {
					z-index:1;

				}
				.post-text {
					position: absolute;
					z-index: 2;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				
			} // .inner-wrap

			@extend %postthumb_container_pos;

		} // style_3 & style_4

		&.style_3 {
			
			.post-text {
				// has abs position
				width: 100%;
				height: 100%;
			}

		}// style_3 only


		&.style_4 {
			
			.inner-wrap {
				position: relative;
				background-color: transparent !important;
				
				.post-thumb-back {
					width: 60%;
				}
				
				.post-overlay {
					top: 10%;
					bottom: 10%;
					left: 40%;
					right: 5%;
					background: rgba( #fff, 0.6 );
				}
				.post-text {
					// has abs position
					top: 10%;
					bottom: 10%;
					left:40%;
					right: 5%;
				}
				
			} // .inner-wrap
		}
		
		
		.swiper-button-next {
			.elementor & { 
				right: 20px;
			}
		}
		
		.swiper-button-prev {
			.elementor & {
				left: 20px;
			}
		}
		
		.swiper-button-next, .swiper-button-prev {
			.elementor & {
				opacity: 0;
				transition: opacity 0.3s linear;
				.micemade-elements-is-mobile & {
					opacity: 1;
				}
			}
		}
		
		&:hover {
			.swiper-button-next, .swiper-button-prev {
				.elementor & {
					opacity: 1;
				}
			}
		}
		
	
	} // posts grid element
		
	//.micemade-elements_button 
	&_more-posts-wrap {
		display: block;
	}
	&_more-posts {
		display: inline-block;
		
		&.disabled {
			opacity: .25;
			cursor: not-allowed;
		}
		
		&.post_loading_loader {
			opacity: .6;
			cursor: not-allowed;
		}
	}
	
	/**
	 *	WC PRODUCT CATEGORIES ELEMENT
	 *	.micemade-elements_posts-grid  
	 *	.micemade-elements_products_slider  
	 */
	
	&_product-categories {
	
		.category {
			
			position: relative;
			text-align: center;
			z-index: 0;
			&:hover {
				z-index: 2 !important;
			}
			
			&__inner-wrap {
				position: relative;
				overflow: hidden;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				justify-content: center;
				flex-grow: 1;
				flex-basis: 100%;
				max-width: 100%;
				transition: all 0.3s ease-in-out;
			}
			
			&__image, &__overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			
			&__image, &__text-wrap {
				flex-grow: 1;
				flex-basis: 100%;
				max-width: 100%;
			}
			
			&__image {
				z-index: 0;
				overflow: hidden;
				.image-inner {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					filter: blur(0px) grayscale(0);
					transform: scale(1);
					transition: all 0.3s ease-in-out;
				}
				
			}
			&__overlay {
				z-index: 1;
				background-color: rgba( #fff, 0.8 );
				transition: background-color 0.3s linear;
			}
			
			&__text-wrap {
				position:relative;
				z-index: 2;
				padding: 20px;
				align-self: center;
			}
			
			&__title {
				font-size: 24px;
				color: inherit;
				display: inline-block;
				position: relative;
				margin-bottom: 0 !important;
			}
			&__product-count {
				display: block;
				font-size:12px;
			}

		
		}
		&.style_1 {
		}
		
		&.style_2 {
			
			.category {
				
				&__overlay {
					z-index: 0;
				}

				&__image {
					z-index: 1;
					height: 100%;
					position: relative;
					//@include aspect-o( 1, 1 );
				}
				&__text-wrap {
					position:relative;
					z-index: 2;
					padding: 20px;
				}
				
			} // .category
			
		}
		
		&.style_3 {
			
			.category {
				
				&__inner-wrap {
					flex-direction: column;
				}
				
				&__overlay {
					z-index: 0;
				}
				
				&__image {
					z-index:1;
					position: relative;
					flex-grow: 1;
				}
				&__text-wrap {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					flex-grow: 0;
					flex-basis: initial;
				}
			}
		
		}

		&.style_4 {
			
			.category {
				
				&__overlay {
					z-index: 1;
					&:before {
						content: "";
						position: absolute;
						z-index: 1;
						top: 5px;
						left: 5px;
						bottom: 5px;
						right: 5px;
						border: 1px solid rgba(#fff,0.3);
					}
				}
				&__text-wrap {
					align-self: flex-end;
				}
				&__title {
					&:after {
						content: "";
						position: absolute;
						display: block;
						bottom: 0;
						height: 1px;
						width: 100%;
						border-bottom: 1px solid;
						opacity: 0.3
					}
				}
			}
		} // .style_4

		// image hover styles
		&.blur_image {
			.category:hover {
				.image-inner {
					filter: blur(10px) grayscale(0) hue-rotate();
				}
			}
		}
		&.greyscale_image {
			.category:hover {
				.image-inner {
					filter: blur(0px) grayscale(100%) hue-rotate(0);
				}
			}
		}
		&.enlarge_image {
			.category:hover {
				.image-inner {
					transform: scale(1.2);
				}
			}
		}
		&.shrink_image {
			.image-inner { transform: scale(1.2) }
			.category:hover {
				.image-inner {
					transform: scale(1);
				}
			}
		}
		
		// box hover styles
		.category__inner-wrap {
			transform: scale(1) translateX(0) translateY(0);
			box-shadow: none;
		}
		&.box_enlarge_shadow {
			.category__inner-wrap:hover {
				transform: scale(1.05);
				box-shadow: 0 0 20px rgba(0,0,0,0.15);
			}
		}
		&.box_shrink_shadow {
			.category__inner-wrap:hover {
				transform: scale(0.95);
				box-shadow: 0 0 10px rgba(0,0,0,0.15);
			}
		}
		&.box_move_up {
			.category__inner-wrap:hover {
				transform: translateY(-5px);
			}
		}
		&.box_move_down {
			.category__inner-wrap:hover {
				transform: translateY(5px);
			}
		}
		&.box_move_right {
			.category__inner-wrap:hover {
				transform: translateX(5px);
			}
		}
		&.box_move_left {
			.category__inner-wrap:hover {
				transform: translateX(-5px);
			}
		}
		
	} // product-categories
	
	/**
	 *	Micemade WC Products Tabs
	 */
	&_tabs {
	
		.tabs-wrapper, .tabs-content-wrapper {
			
			display: block;
			text-align: center;
			overflow: hidden;
			
			.tab-title {
				display: inline-block;
				padding: 1em;
				position: relative;
				z-index: 0;
				
				&:hover {
					cursor: pointer
				}

				&.tab-mobile-title {
					display: none;
					border-width: 1px;
					border:{
						left: 0;
						right: 0;
						top: 0;
					}
					&:before,
					&:after {
						display: block;
						content: "";
						position: absolute;
						height: 0;
						right: 100%;
						width: 100%;
						border-bottom-style: solid;
					}
					
					&:before {
						right: 0;
						top: 0;
					}
					&:after {
						left: 0;
						bottom: 0;
					}
					&:first-of-type:before {
						display: none;
					}
					&:last-of-type:after {
						display: none;
					}

					&.active {
						&:before {
							display: none;
						}
						&:after {
							display: none;
						}
					} 
					
					@include breakpoint(mobileonly) {
						display: block;
					}
					
				}
				
				@include breakpoint(mobileonly) {
					display: none;
					//border-style: solid;
				}
				
			} //.tab-title
		
		}
		
		.tabs-content-wrapper {
			
			border-style: solid;
			
			@include breakpoint(mobileonly) {
				
				&:before {
					display: block;
					content: "";
					position: absolute;
					z-index: 0;
					top: 0;
					height: 0;
					right:0;
					left: 0;
					border-bottom-style: solid;
				}
			}
			
			.tab-content {
				padding: 2em;
				display: none;
				&.active {
					display: block;
				}
			}
		
		} //.tabs-content-wrapper
		
		&.horizontal {
			
			.tabs-wrapper {
				
				.tab-title {
					
					border-bottom-width: 0 !important;
					&.active {
						z-index:1;
						border-style: solid;
						
						&:not(.tab-mobile-title):before,
						&:not(.tab-mobile-title):after {
							display: block;
							content: "";
							position: absolute;
							bottom: 0;
							height: 0;
							right: 100%;
							width: 999em;
							border-bottom-style: solid;
						}
						&:after {
							left: 100%;
						}

					}
				}
			
			}
			
			.tabs-content-wrapper {
				@include breakpoint(phablet) {
					border-top-width: 0 !important;
				}
			}
			
		}
		
		&.vertical {
			
			display: flex;
			flex-direction: row;
			align-items: stretch;
			
			.tabs-wrapper,
			.tabs-content-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			
			.tabs-wrapper {
				flex-basis: 20%;

				.tab-title {
					display: block;
					border-right-width: 0 !important;
					&.active {
						z-index:1;
						border-style: solid;
						
						&:not(.tab-mobile-title):before,
						&:not(.tab-mobile-title):after {
							display: block;
							content: "";
							position: absolute;
							bottom: 100%;
							width: 0;
							right: 0;
							height: 999em;
							border-left-style: solid;
							z-index: 1;
						}
						&:after {
							bottom: auto;
							top: 100%;
						}

					}
				}
				
				@include breakpoint(mobileonly) {
					display: none;
				}
			} 
			.tabs-content-wrapper {
				flex-basis: 80%;
				
				@include breakpoint(phablet) {
					border-left-width: 0 !important;
				}
				@include breakpoint(mobileonly) {
					flex-basis: 100% !important;
				}
				
			}
		}
	
	} // end micemade-elements_tabs
	
	/**
	 * Micemade Instagram
	 */
	&_instagram {

		.image-link {
			img.stretch {
				width: 100%;
				height: auto;
			}
		}
	}

	/**
	 * Micemade MailChimp 4 WP
	 */
	&_mc4wp {

		display: flex;
		flex-direction: column;
		
		.mc4wp-form-fields {
			
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0 auto;
			input {
				&[type=email] {
					min-width: 200px;
				}
				&.button {
					width: auto;
				}
				margin: 0;
			}
		}
	}// end Micemade MailChimp 4 WP

	/**
	 * MICEMADE BUTTONS ELEMENT
	 */
	&_buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		.micemade-button {
			text-align: center;
			display: flex;
			justify-content: center;
			transition: all 0.3s linear;
		}
		
		&.horizontal {
			.micemade-button {
				&:first-child {
					margin-left: 0 !important;
				}
				&:last-child {
					margin-right: 0 !important;
				}
			}
		}

		&.vertical {
			flex-direction: column;
			
			.micemade-button {
				&:first-child {
					margin-top: 0 !important;
				}
				&:last-child {
					margin-bottom: 0 !important;
				}
			}
			
		}

	}

	/**
	 * HEADER LOGO
	 */
	&_header-logo {
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		h1 {
			margin: 0;
		}
		
		.logo-image {
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.site-title {
			&.hidden {
				display: block;
				width: 120px;
				height: 80px;
				font-size: 0;
				opacity: 0;
			}
		}
	}

} // END .micemade-elements


.mm-enter-animate {
	opacity: 0;
	&.anim-done {
		opacity: 1;
	}
}

.micemade-elements-is-mobile {
	.elementor-section {
		
		background:{
			attachment: scroll;
			position: center center;
			size: 100%;
		}
		-webkit-background:{
			attachment: scroll;
			position: center center;
			size: 100%;
		}
	}
}


// Parallax fix
.elementor-element.parallax {
    transition: none !important;
}